{% extends "tud_styling/demo/base.html" %}

{% block content %}

    <div class="well">
        <h1>Django, meet Styling!</h1>
        <p>The django-tud-styling application allows for an easy integration of Django and Styling.</p>
        <p><a class="btn btn-primary" href="https://github.com/dyve/django-tud-styling/">Check it out on GitHub &raquo;</a></p>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Django</h2>

            <p>Django is the excellent Python web framework that makes a programmer's life less repetitive.</p>

            <p><a class="btn" href="http://www.djangoproject.com">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Styling</h2>

            <p>Styling is a beautiful CSS framework with an optional JavaScript add-on.</p>

            <p><a class="btn" href="http://twitter.github.com/tud/">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>django-tud-styling</h2>

            <p>Is just a simple hustle to get two kinds of awesome together.</p>

            <p><a class="btn" href="https://github.com/dyve/django-tud-styling/">View details &raquo;</a></p>
        </div>
    </div>

    <p>A big thanks to all the people that worked on Django and Styling.</p>

{% endblock %}
