{% load i18n staticfiles %}
	<nav class='{{ class }} nav-top'>
      <button class='js-menu xs-hide'>
        <div class='patty'></div>
      </button>
      <div class='container no-spacing'>
        <a class='logo left' href='/'>
          <img src="{% static 'tud_styling/img/logo.svg' %}" />
          <span class='text-hide'>{% trans 'TU Delft' %}</span>
        </a>
        <div class='right'>
          <nav class='nav-main'>
			<ul>

					{% for item in menu %}
                        {% if item.sub %}
                            <li class="nav-main__mainitem ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }}
                                    <span class="caret"></span></a>
                                <ul class="nav-main__submenu">
                                    {% for subitem in item.sub %}
                                        <li><a href="{{ subitem.url }}">{{ subitem.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-main__mainitem "><a href="{{ item.url }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}

			</ul>
			<!--
            <button class='button-reset btn--icon i-search js-modal' data-target='.nav-search'>
              <span class='text-hide'>{% trans 'Search' %}</span>
            </button>
            -->
          </nav>
        </div>
      </div>
    </nav>
