{% load i18n %}
<footer>
	<a class='js-back_to_top' href='#' title='back_to_top'>
		<div class='btn--icon i-arrow_down'></div>
	</a>
	<div class='container'>
		<div class='row'>
			<div class='md-6 lg-6 space'>
				<h1>{% trans 'Delft University of Technology' %}</h1>
				<a class='btn--icon i-facebook' href='//www.facebook.com/TUDelft/'>
					<span class='text-hide'>Facebook</span>
				</a>
				<a class='btn--icon i-linkedin' href='//www.linkedin.com/company/tu-delft'>
					<span class='text-hide'>Linkedin</span>
				</a>
				<a class='btn--icon i-twitter' href='//twitter.com/tudelft?lang=nl'>
					<span class='text-hide'>Twitter</span>
				</a>
				<a class='btn--icon i-youtube' href='//www.youtube.com/user/tudelft'>
					<span class='text-hide'>Youtube</span>
				</a>
			</div>
			<div class='md-6 lg-6'>
				<div class='row'>
					<div class='sm-6'>
						Landbergstraat 15<br/>
						2628 CE Delft<br/>
						Tel: <a href="tel:+31 (0)15 27 89807">+31 (0)15 27 89807</a><br/>
						<a href="mailto:info@tudelft.nl">info@tudelft.nl</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
