	{% for child in children %}
		<li class="nav-main__mainitem {% if child.selected %}selected{% endif %}{% if child.children.selected %}selected{% endif %}">
			<a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a>
			{% if child.children %}
				<ul class="nav-main__submenu">
				{% for child2 in child.children %}
					<li class="{% if child2.selected %}selected{% endif %}">
						<a href="{{ child2.get_absolute_url }}">{{ child2.get_menu_title }}</a>
					</li>
				{% endfor %}
				</ul>					
			{% endif %}
		</li>
	{% endfor %}
