    <nav class='nav-overlay'>
      <div class='container no-spacing'>
        <ul class='list-reset'>
          <li data-priority='6'>
            <div class='nav-overlay__mainitem'>Templates</div>
            <ul class='list-reset row'>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/agenda_overview.html'>Agenda</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/agenda_detail.html'>Agenda Detail</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/contact.html'>Contact</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/faq.html'>FAQ</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/grid_example.html'>Grid example</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/faculty.html'>Homepage</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/index.html'>Homepage (faculty)</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/news_header.html'>Nieuws Detail (header)</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/news_no_header.html'>Nieuws Detail (no header)</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/news_overview.html'>Nieuws Overzicht</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/profile.html'>Profile</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/special.html'>Special</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/textpage.html'>Textpage</a>
              </li>
            </ul>
          </li>
          <li data-priority='4'>
            <div class='nav-overlay__mainitem'>Studeren</div>
            <ul class='list-reset row'>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Studeren aan de TU Delft</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Bacheloropleidingen</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Masteropleidingen</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>PhD at TU Delft</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Van HBO naar TU Delft</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Minoren en keuzevakken</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Onderwijs voor professionals</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Online onderwijs</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='#'>Exchange and Free mover</a>
              </li>
            </ul>
          </li>
          <li data-priority='3'>
            <div class='nav-overlay__mainitem'>Onderzoek</div>
          </li>
          <li data-priority='2'>
            <div class='nav-overlay__mainitem'>Zakelijk</div>
          </li>
          <li data-priority='5'>
            <div class='nav-overlay__mainitem'>Actueel</div>
            <ul class='list-reset row'>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/news_overview.html'>Nieuws Overzicht</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/news_header.html'>Nieuws Detail (header)</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/news_no_header.html'>Nieuws Detail (no header)</a>
              </li>
              <li class='sm-6 lg-4'>
                <a class='nav-overlay__subitem' href='/agenda.html'>Agenda</a>
              </li>
            </ul>
          </li>
          <li data-priority='1'>
            <div class='nav-overlay__mainitem'>Over TU Delft</div>
          </li>
          <li data-priority='0'>
            <div class='nav-overlay__mainitem'>English</div>
          </li>
          <li>
            <a class='btn--icon i-facebook' href='#'>
              <span class='text-hide'>Facebook</span>
            </a>
            <a class='btn--icon i-linkedin' href='#'>
              <span class='text-hide'>Linkedin</span>
            </a>
            <a class='btn--icon i-twitter' href='#'>
              <span class='text-hide'>Twitter</span>
            </a>
            <a class='btn--icon i-youtube' href='#'>
              <span class='text-hide'>Youtube</span>
            </a>
          </li>
        </ul>
        <div class='language-switch'>
          <a href='#'>English</a>
          <a href='#'>Nederlands</a>
        </div>
        <button class='menu menu--close button-reset js-toggle' data-target='.nav-overlay'>
          <div class='i-close'>
            <span class='text-hide'>Sluit menu</span>
          </div>
        </button>
      </div>
    </nav>
